# Top level
node_modules
*.log

# For people who use npm at the root level
./package-lock.json

# Package
packages/*/node_modules
packages/*/coverage
packages/*/dist
packages/*/webpack.config.js

# Emacs
.#*
.*~*
